/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-size: 12px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  margin: auto;
  height: 500px;
  border-style: solid;
  border-width; 1px;
}

header {

}

.intro {
	background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
	background-size: cover;
}

.intro h1 {
	font-size: 24px;
	font-weight: 800;
}

.intro h2 {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

/*cannot for the life of me wrap my mind around what we talked about in class in making the below relative adn the intro image absolut*/
.cta {
	background-color: #f9e42e;
    color: navy;
    text-decoration: none;
    padding: 20px 100px;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    border-radius: 5px;
    margin-left: 100px
    margin-right: 100px;
}

.benefits {
	height: 100px;
	color: #606161;
	
}
.testimonial {
	font-size: 18px
	font-weight: 200;
	font-style: italic;
	color: #ffffff;
	text-align: center;

}
.name {
	font-size: 
	font-weight: 600;
	color: #ffffff;
	text-align: center;

}
.button2{
	font-size: 12px;
	font-weight: 800
	border-radius: 5px;
	color: #ffffff;
	background-color: #033048;
	margin: auto;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
